# Configurações da API
APP_NAME="BuscaFri API"
DEBUG=True

# Credenciais Cloudflare R2 / AWS S3 Compatible API
R2_ACCOUNT_ID=seu_account_id_aqui
R2_ACCESS_KEY_ID=sua_access_key_aqui
R2_SECRET_ACCESS_KEY=sua_secret_key_aqui
R2_BUCKET_NAME=buscafri-data
R2_ENDPOINT_URL=https://<ACCOUNT_ID>.r2.cloudflarestorage.com

# Configurações de Execução DuckDB
DUCKDB_MAX_MEMORY="512MB"
DUCKDB_THREADS=1